<div *ngIf="fireService.auth.currentUser==undefined">
 <input placeholder="email" [(ngModel)]="email" type="email">
  <br>
  <input placeholder="password" [(ngModel)]="password" type="password">
  <br>
  <button (click)="fireService.signIn(email, password)">Sign in</button>
  <br>
  <button (click)="fireService.register(email, password)">Sign up</button>
</div>



<div *ngIf="fireService.auth.currentUser">
<h1>Hello {{fireService.auth.currentUser.email}}
  <img (click)="fileinput.click()" style="max-height: 60px;" [src]="fireService.currentlySignedInUserAvatarUrl">
  <input (change)="fireService.updateUserImage($event)" hidden #fileinput type="file">
  <button (click)="fireService.signOut()">Sign out</button>
</h1>
<p>Input for message</p>
<input [(ngModel)]="sendThisMessage">
<input [(ngModel)]="IdOfThisMessage">
<div></div>
<button (click)="fireService.sendMessage(sendThisMessage,IdOfThisMessage)">send message</button>
<p>Find by ID</p>
<input [(ngModel)]="findThisId">
<button (click)="fireService.findUserid(findThisId)">Get the doc</button>

<br>
<div>
  <button (click)="changeToEdit()">Edit</button>
  <button (click)="cancel()">Cancel</button>
<p *ngIf="editing">
  <input [(ngModel)]="editText">
</p>
</div>
<br>


<div></div>
  <p *ngFor="let m of fireService.messages">
    {{m | json}}
  </p>
</div>


